### Random Forest example in predicting numbers
##### https://github.com/KN4KNG/LotteryNumberPredictor/tree/main

#### powerball

In [31]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from random import randint

In [2]:
power_url = r'https://www.texaslottery.com/export/sites/lottery/Games/Powerball/Winning_Numbers/powerball.csv'
mega_url = r'https://www.texaslottery.com/export/sites/lottery/Games/Mega_Millions/Winning_Numbers/megamillions.csv'

In [3]:
# read and save data from url
def get_data(url):
    df = pd.read_csv(url, header=None)
    df = df.iloc[:,:-1]
    df.columns = ['type', 'month', 'day', 'year', 'num1', 'num2','num3','num4','num5','num6']
    df['download_time'] = pd.Timestamp.today(tz='America/Chicago').strftime('%Y-%m-%d, %I:%M:%S %p %Z')
    df['date'] = pd.to_datetime(dict(year=df.year, month=df.month, day=df.day))
    df = df.reindex(columns=['type', 'date', 'num1', 'num2','num3','num4','num5','num6', 'download_time'])
    filename = df['type'].unique()[0]+ '_'+pd.Timestamp.today(tz='America/Chicago').strftime('%Y%m%d')
    df.to_csv('./data/'+filename+'.csv', index=False)
    return df

In [4]:
# get data
df = get_data(power_url)

In [25]:
df.describe()

,date,num1,num2,num3,num4,num5,num6
count,1713,1713.000000,1713.000000,1713.000000,1713.000000,1713.000000,1713.000000
mean,2018-01-19 20:54:13.239930112,33.317572,32.795680,33.641565,33.864565,33.928196,15.382954
min,2010-02-03 00:00:00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2014-03-12 00:00:00,17.000000,16.000000,17.000000,18.000000,18.000000,8.000000
50%,2018-04-18 00:00:00,33.000000,32.000000,33.000000,33.000000,34.000000,15.000000
75%,2022-02-21 00:00:00,49.000000,50.000000,50.000000,50.000000,50.000000,22.000000
max,2024-11-16 00:00:00,69.000000,69.000000,69.000000,69.000000,69.000000,39.000000
std,NaN,18.964601,19.385003,19.238966,19.068687,19.275429,9.046246

In [26]:
# get the data for modeling except the latest result for validating
# include only the number columns
df_model = df.iloc[:-1, 2:-1]

In [30]:
df_model.describe()

,num1,num2,num3,num4,num5,num6
count,1712.000000,1712.000000,1712.000000,1712.000000,1712.000000,1712.000000
mean,33.314836,32.800234,33.648364,33.872079,33.929322,15.382593
std,18.969804,19.389750,19.242528,19.071721,19.281004,9.048877
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,17.000000,16.000000,17.000000,18.000000,18.000000,8.000000
50%,33.000000,32.000000,33.000000,33.000000,34.000000,15.000000
75%,49.000000,50.000000,50.000000,50.000000,50.000000,22.000000
max,69.000000,69.000000,69.000000,69.000000,69.000000,39.000000

In [ ]:
len(df_model)

1712

In [49]:
# Split the data into features (X) and target (y)
# X = df_model[['num1', 'num2', 'num3', 'num4', 'num5', 'num6']]
X = df_model.copy()
y = df_model.copy()

In [ ]:
X.describe()

,num1,num2,num3,num4,num5,num6
count,1712.000000,1712.000000,1712.000000,1712.000000,1712.000000,1712.000000
mean,33.314836,32.800234,33.648364,33.872079,33.929322,15.382593
std,18.969804,19.389750,19.242528,19.071721,19.281004,9.048877
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,17.000000,16.000000,17.000000,18.000000,18.000000,8.000000
50%,33.000000,32.000000,33.000000,33.000000,34.000000,15.000000
75%,49.000000,50.000000,50.000000,50.000000,50.000000,22.000000
max,69.000000,69.000000,69.000000,69.000000,69.000000,39.000000

In [ ]:
y.describe()

,num1,num2,num3,num4,num5,num6
count,1712.000000,1712.000000,1712.000000,1712.000000,1712.000000,1712.000000
mean,33.314836,32.800234,33.648364,33.872079,33.929322,15.382593
std,18.969804,19.389750,19.242528,19.071721,19.281004,9.048877
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,17.000000,16.000000,17.000000,18.000000,18.000000,8.000000
50%,33.000000,32.000000,33.000000,33.000000,34.000000,15.000000
75%,49.000000,50.000000,50.000000,50.000000,50.000000,22.000000
max,69.000000,69.000000,69.000000,69.000000,69.000000,39.000000

In [ ]:
# split data into test and train
x_train, x_test, y_train, y_test = train_test_split(X, y,
                                                    test_size= 0.2, train_size= 0.8, random_state=104, shuffle= False, stratify=None)

In [ ]:
len(X), len(y), len(x_test), len(y_test), len(x_train), len(y_train)

(1712, 1712, 343, 343, 1369, 1369)

In [ ]:
# Train a Random Forest Regression model
model = RandomForestRegressor(n_estimators=1000, random_state=None)
model.fit(x_test, y_test)

RandomForestRegressor(n_estimators=1000)

In [ ]:
model.score(x_test, y_test)

0.9694164876311788

In [ ]:
predictions = model.predict(x_test)

#### ??? This section did not make sense as how the best alternative is selected

In [ ]:
# Get the most likely set of numbers based on the predictions
most_likely_set = predictions[0]
for p in predictions:
    if p[0] > most_likely_set[0]:
        print(p)
        print('yes')
        most_likely_set = p

#### ########################

[53.684 64.249 40.298 44.996 61.96   7.373]
yes
[61.692 11.74  31.359  8.446 15.245 18.785]
yes
[65.493 20.676 20.989 63.531  9.008 21.154]
yes
[65.732 21.912 17.335 63.725  7.929 12.414]
yes

In [ ]:
predictions[0]

array([ 5.878, 33.442, 16.325, 28.062, 35.699, 18.441])

In [ ]:
most_likely_set

array([65.732, 21.912, 17.335, 63.725,  7.929, 12.414])

In [ ]:
predictions[100]

array([17.727, 53.701, 61.081, 55.667, 53.534, 11.16 ])

In [ ]:
predictions[1][0]

53.684

In [ ]:
most_likely_set

array([65.732, 21.912, 17.335, 63.725,  7.929, 12.414])

In [ ]:
# Convert most_likely_set to whole numbers
rounded_most_likely_set = [round(x) for x in most_likely_set]

In [ ]:
rounded_most_likely_set

[66, 22, 17, 64, 8, 12]

In [ ]:
df[-1:]

,type,date,num1,num2,num3,num4,num5,num6,download_time
1712,Powerball,2024-11-16,38,25,22,21,32,16,"2024-11-17, 10:09:08 AM CST"

In [ ]:
###################################################################################################################################

In [ ]:
data = pd.read_excel("previous_data.xlsx")

In [ ]:
(data.iloc[:, 1:]).describe()

In [ ]:
(data[['1st_number', '2nd_number', '3rd_number', '4th_number', '5th_number', '6th_number']]).describe()

In [ ]:
i = 0
while i < 10: 
    # Load the data from Excel file
    data = pd.read_excel(".\data\previous_data.xlsx")

    # Split the data into features (X) and target (y)
    X = data[['1st_number', '2nd_number', '3rd_number', '4th_number', '5th_number', '6th_number']]
    y = data.iloc[:, 1:]

    # Train a Random Forest Regression model
    model = RandomForestRegressor(n_estimators=1000, random_state=None)
    model.fit(X, y)

    # Generate a new set of random features for prediction
    new_data = pd.DataFrame({
        "1st_number": [randint(1, 70) for _ in range(100)],
        "2nd_number": [randint(1, 70) for _ in range(100)],
        "3rd_number": [randint(1, 70) for _ in range(100)],
        "4th_number": [randint(1, 70) for _ in range(100)],
        "5th_number": [randint(1, 70) for _ in range(100)],
        "6th_number": [randint(1, 25) for _ in range(100)],
    })

    # Use the trained model to predict the next 6 numbers for each set of features
    predictions = model.predict(new_data)

    # Get the most likely set of numbers based on the predictions
    most_likely_set = predictions[0]
    for p in predictions:
        if p[0] > most_likely_set[0]:
            most_likely_set = p

    # Convert most_likely_set to whole numbers
    rounded_most_likely_set = [round(x) for x in most_likely_set]

    # Print the most likely set of numbers
    print(str(f"{i+1:02d}") + ". The most likely set of numbers is:", rounded_most_likely_set)
    i += 1

01. The most likely set of numbers is: [38, 51, 57, 59, 64, 8]
02. The most likely set of numbers is: [36, 48, 54, 57, 62, 8]
03. The most likely set of numbers is: [37, 50, 56, 58, 64, 8]
04. The most likely set of numbers is: [38, 49, 56, 59, 64, 11]
05. The most likely set of numbers is: [36, 45, 54, 58, 65, 9]
06. The most likely set of numbers is: [34, 45, 51, 55, 60, 19]
07. The most likely set of numbers is: [36, 48, 54, 57, 63, 8]
08. The most likely set of numbers is: [38, 49, 54, 56, 63, 9]
09. The most likely set of numbers is: [38, 50, 57, 59, 64, 8]
10. The most likely set of numbers is: [37, 48, 53, 57, 63, 11]

In [ ]:
# Load the data from Excel file
data = pd.read_excel("./data/previous_data.xlsx")

# Split the data into features (X) and target (y)
X1 = data[['1st_number', '2nd_number', '3rd_number', '4th_number', '5th_number', '6th_number']]
y1 = data.iloc[:, 1:]

# Train a Random Forest Regression model
model = RandomForestRegressor(n_estimators=1000, random_state=None)
model.fit(X1, y1)

# Generate a new set of random features for prediction
new_data = pd.DataFrame({
    "1st_number": [randint(1, 70) for _ in range(100)],
    "2nd_number": [randint(1, 70) for _ in range(100)],
    "3rd_number": [randint(1, 70) for _ in range(100)],
    "4th_number": [randint(1, 70) for _ in range(100)],
    "5th_number": [randint(1, 70) for _ in range(100)],
    "6th_number": [randint(1, 25) for _ in range(100)],
})

In [ ]:
new_data

    1st_number  2nd_number  3rd_number  4th_number  5th_number  6th_number
0           45          36          10          19          20          25
1           43          53          70           6          65           5
2            1          62          40          46          12          23
3           11          65          47           3          60          25
4           15          60          63          53          45           7
..         ...         ...         ...         ...         ...         ...
95          45          19           7          26           2           4
96          13           7          21          11          48          19
97          49          35          68          20          67          21
98          40          55          45           6           6           1
99          57           3           1          41          24           8

[100 rows x 6 columns]

In [ ]:
# Use the trained model to predict the next 6 numbers for each set of features
predictions = model.predict(new_data)

In [ ]:
predictions

array([[ 5.186,  9.651, 14.424, 18.231, 23.837, 18.603],
       [36.137, 47.497, 53.736, 56.251, 64.044,  8.061],
       [ 6.798, 37.243, 42.621, 46.244, 56.81 , 18.329],
       [ 9.548, 40.198, 45.648, 48.283, 63.566, 21.132],
       [12.38 , 46.986, 53.778, 58.244, 64.097,  9.05 ],
       [15.592, 21.42 , 38.725, 43.151, 52.41 , 14.539],
       [ 4.713, 11.372, 55.374, 60.117, 66.126,  3.865],
       [19.345, 24.85 , 38.148, 42.426, 49.943, 10.798],
       [18.589, 26.377, 31.152, 41.832, 46.453, 17.748],
       [16.122, 23.198, 27.83 , 55.385, 65.64 ,  8.378],
       [ 9.158, 16.344, 21.045, 27.955, 34.427,  7.469],
       [31.17 , 38.27 , 43.011, 47.721, 55.021, 14.607],
       [ 4.309,  8.056, 14.032, 17.788, 23.036,  8.283],
       [ 4.346,  7.462, 11.926, 19.272, 55.117, 15.408],
       [ 7.693, 13.042, 16.727, 24.057, 59.882,  7.818],
       [ 7.941, 12.135, 15.975, 25.154, 59.821, 14.319],
       [ 6.399, 11.71 , 18.922, 22.064, 28.313, 18.194],
       [10.873, 24.348, 40.61 , 43.904, 51.327,  7.752],
       [ 4.31 ,  9.829, 14.945, 19.469, 25.093, 18.038],
       [31.644, 39.797, 45.052, 53.188, 58.966, 15.25 ],
       [20.796, 25.567, 42.146, 46.263, 63.56 , 19.232],
       [ 9.77 , 13.992, 20.153, 34.147, 38.904, 20.004],
       [13.884, 46.83 , 53.603, 56.696, 61.947, 17.312],
       [13.099, 22.467, 26.372, 48.178, 54.867, 10.203],
       [14.735, 21.607, 40.437, 44.779, 53.761, 11.795],
       [ 6.928, 10.98 , 21.897, 31.699, 36.323, 18.681],
       [ 7.456, 11.826, 16.775, 23.645, 42.732, 17.977],
       [ 7.704, 15.108, 39.528, 44.337, 55.873, 17.094],
       [ 6.993, 19.803, 23.785, 37.702, 44.177, 13.071],
       [15.161, 20.708, 40.311, 44.821, 60.737, 10.629],
       [ 5.344, 34.887, 52.004, 59.115, 63.876, 11.634],
       [ 8.879, 15.878, 21.599, 24.796, 31.087, 18.521],
       [19.733, 30.33 , 51.759, 58.481, 63.473,  9.892],
       [15.906, 23.379, 28.53 , 38.182, 57.47 ,  9.978],
       [21.185, 38.58 , 48.988, 56.635, 61.283,  9.462],
       [ 4.891,  8.007, 17.755, 47.751, 53.464, 17.982],
       [ 4.972,  9.706, 18.538, 49.194, 55.115, 11.818],
       [32.35 , 42.358, 53.054, 56.488, 62.686, 19.017],
       [10.287, 36.109, 49.311, 53.492, 61.212, 10.151],
       [11.317, 20.373, 26.229, 40.112, 46.39 ,  7.684],
       [ 8.225, 14.056, 25.581, 51.609, 56.621,  5.385],
       [16.44 , 25.061, 28.186, 50.535, 55.861, 14.473],
       [10.344, 18.226, 24.462, 27.179, 35.903,  7.155],
       [ 9.137, 14.847, 20.307, 26.058, 41.191, 17.391],
       [ 9.903, 17.814, 23.976, 26.226, 30.941,  9.228],
       [ 3.169, 12.223, 41.384, 46.218, 55.247, 14.709],
       [14.485, 21.363, 41.244, 45.625, 56.879,  9.84 ],
       [ 5.787, 10.378, 14.716, 21.454, 48.712, 14.736],
       [32.342, 44.026, 52.91 , 56.191, 61.619, 17.893],
       [25.022, 33.291, 37.908, 43.04 , 50.736, 19.818],
       [20.555, 28.769, 34.366, 51.279, 57.327, 11.667],
       [15.364, 20.859, 40.804, 45.231, 55.292, 17.912],
       [30.23 , 43.317, 58.468, 62.846, 65.668, 10.717],
       [11.007, 17.501, 23.047, 35.091, 42.633,  9.404],
       [13.731, 20.831, 25.33 , 38.877, 44.058, 15.678],
       [ 6.579, 12.22 , 17.608, 23.642, 28.941,  7.407],
       [28.809, 38.543, 53.001, 56.922, 62.182, 19.671],
       [15.326, 24.586, 28.373, 46.718, 52.75 , 13.635],
       [ 7.431, 11.43 , 21.45 , 54.037, 57.747, 17.992],
       [ 6.3  , 33.15 , 39.218, 43.277, 57.124, 18.199],
       [ 6.185, 18.431, 22.623, 24.729, 28.6  ,  8.202],
       [14.404, 19.772, 38.35 , 42.949, 53.97 , 16.914],
       [13.517, 21.413, 25.47 , 47.533, 64.031, 19.778],
       [ 8.015, 40.097, 46.86 , 57.146, 63.466, 18.598],
       [10.302, 18.137, 24.118, 40.951, 47.381,  7.322],
       [10.763, 17.649, 25.973, 38.807, 45.186,  7.419],
       [ 7.563, 14.14 , 18.598, 29.2  , 45.036,  6.882],
       [ 5.665, 11.735, 15.181, 18.001, 23.127, 12.961],
       [12.784, 18.507, 23.263, 34.117, 39.258, 18.809],
       [ 5.951,  9.869, 26.507, 53.248, 58.046, 19.864],
       [ 4.639,  9.117, 14.247, 22.52 , 28.174, 12.258],
       [ 5.036, 11.237, 15.425, 19.641, 27.67 , 11.7  ],
       [ 3.352,  8.468, 12.564, 19.097, 29.111,  9.492],
       [17.17 , 25.811, 28.689, 55.361, 61.558, 11.309],
       [13.918, 21.343, 26.565, 31.625, 60.675, 10.697],
       [ 5.711, 11.647, 14.841, 18.334, 23.952, 10.935],
       [ 5.987, 12.079, 14.978, 17.641, 23.512,  9.797],
       [19.425, 26.713, 29.643, 50.415, 55.384, 19.075],
       [ 9.278, 35.975, 49.694, 52.632, 60.521, 18.981],
       [ 7.142, 20.786, 52.627, 58.67 , 65.248, 16.082],
       [14.096, 19.548, 38.945, 43.407, 53.361, 15.645],
       [11.069, 45.634, 52.246, 55.065, 59.878, 15.85 ],
       [ 7.492, 43.58 , 49.712, 54.046, 61.183, 10.105],
       [34.52 , 44.641, 50.217, 53.573, 61.523,  9.135],
       [15.784, 21.245, 41.027, 45.579, 55.589, 18.347],
       [30.346, 38.144, 43.167, 47.272, 53.921, 14.671],
       [27.965, 32.657, 39.112, 43.13 , 51.364,  5.022],
       [ 2.8  , 11.188, 39.499, 44.088, 52.77 ,  7.486],
       [33.942, 46.899, 56.143, 59.367, 64.774, 17.5  ],
       [19.044, 24.643, 39.491, 43.61 , 64.282, 20.791],
       [ 9.426, 15.488, 21.272, 24.188, 29.795, 19.563],
       [33.967, 42.458, 53.606, 57.522, 63.002, 16.404],
       [ 7.218, 17.697, 22.439, 25.698, 32.97 ,  7.183],
       [10.655, 44.322, 50.758, 56.149, 64.967,  8.129],
       [ 5.318, 10.143, 14.041, 17.293, 23.485, 16.144],
       [ 6.006, 12.136, 16.342, 21.227, 26.223,  8.671],
       [ 7.667, 11.285, 18.853, 24.218, 47.466, 18.339],
       [31.845, 39.111, 52.503, 56.455, 66.081, 18.933],
       [30.06 , 36.239, 42.197, 45.764, 53.472,  7.416],
       [ 4.332,  8.004, 14.798, 37.87 , 43.71 ,  9.364]])

In [ ]:
# single_occurence = {}
# regular_occurence = {}

# for record in allrecords:
#     for regnum in record:
#         if regnum in regular_occurence:
#             occurence = regular_occurence[regnum]
#             occurence += 1
#             regular_occurence[regnum] = occurence
#         else:
#             regular_occurence[regnum] = 1

# for pnum in num6:
#     if pnum in single_occurence:
#         occurence = single_occurence[pnum]
#         occurence += 1
#         single_occurence[pnum] = occurence
#     else:
#         single_occurence[pnum] = 1


# # print(regular_occurence)
# # regular_occurence_sorted = sorted(regular_occurence.items(), key= lambda x:x[1])
# regular_occurence_sorted = sorted(regular_occurence.items(), key= lambda x:x[1], reverse = True)
# single_occurence_sorted = sorted(single_occurence.items(), key = lambda x:x[1], reverse = True)
# # single_occurence_sorted 
# # regular_occurence_sorted

# # create a list of numbers sorted based on occurence
# regular_by_occurence = list(map(lambda x: x[0], regular_occurence_sorted ))
# single_by_occurence = list(map(lambda x: x[0], single_occurence_sorted))


# # single_by_occurence[:1][0]
# regular_by_occurence[:5]

# winningTicket = ' '.join(map(str, regular_by_occurence[:5] + single_by_occurence[:1]))
# print(f'Powerball most frequent nubers: {winningTicket}')

Powerball most frequent nubers: 39 36 32 21 23 24